@'
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

COHERE_API_KEY=

HF_TOKEN=
HUGGINGFACEHUB_API_TOKEN=
HF_HUB_DISABLE_PROGRESS_BARS=1
TOKENIZERS_PARALLELISM=false

USER_AGENT=SuyashRAGProject/0.1

LANGCHAIN_TRACING_V2=false
LANGCHAIN_API_KEY=
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

GOOGLE_API_KEY=
'@ | Set-Content .env.example